Meta-Llama-3.1-8B-Instruct/*.7z filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.arrow filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.bin filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.bz2 filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.ckpt filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.ftz filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.gz filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.h5 filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.joblib filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.lfs.* filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.mlmodel filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.model filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.msgpack filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.npy filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.npz filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.onnx filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.ot filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.parquet filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.pb filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.pickle filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.pkl filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.pt filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.pth filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.rar filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.safetensors filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/saved_model/**/* filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.tar.* filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.tar filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.tflite filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.tgz filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.wasm filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.xz filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.zip filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*.zst filter=lfs diff=lfs merge=lfs -text
Meta-Llama-3.1-8B-Instruct/*tfevents* filter=lfs diff=lfs merge=lfs -text
